.DropDownSelector{
    background-color: white;
    /* position: absolute; */
    border: 1px solid grey;
    width: 225px;
    
}
.DropDownButton{
  /* right: 5px; */
  width: 10%;
  display: inline-block;
}
.SelectedItem{
  /* position: absolute; */
  left: 10px;
  display: inline-block;
  border-bottom: 1px solid black;
}
.ArrowDown{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}