.OrgaAdder{
    margin : 5px;
    border: 1px solid #90B9C6;
    box-shadow: 0 2px 3px #ccc;
    padding: 15px;
    text-align: center;
    width: 250px;
    height: 250px;
    flex-grow: 0;
    background-color: #A0CCDA;
}

.Title {
    left: 8px;
    top: 50%;
    font-size: 24px;
    margin-top: -11px;
    /* color: darkgreen; */
    
  }
.Labels{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}
.Badge {
    display: inline-block;
    right: 16px;
    height: 24px;
    font-size: 16px;
    color: white;
    width: 15%;
    top: 50%;
    margin: 10px;
    background-color: #282c34;
    padding: 4px ;
    text-align: center;
    border-radius: 7px;
}
.BadgeInactive {
    display: inline-block;
    right: 16px;
    height: 24px;
    font-size: 16px;
    color: white;
    width: 15%;
    top: 50%;
    margin: 10px;
    background-color: #5e6167;
    padding: 4px ;
    text-align: center;
    border-radius: 7px;
}