.BadgeInactive {
    display: inline-block;
    right: 16px;
    font-size: 16px;
    color: white;
    top: 50%;
    margin: 2px; 
    background-color:#ACCD6B;
    padding: 4px ;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
  }
  .BadgeActive {
    display: inline-block;
    right: 16px;
    font-size: 16px;
    color: white;
    top: 50%;
    margin: 2px; 
    background-color: #88BA2A;
    padding: 4px ; 
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
  }